/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --color-bg: #FDFDFD;
  --color-font: #222;
  --color-font-light: #FFF;

  --color-primary: #1EAEDB;
  --color-primary-light: #33C3F0;
  --color-primary-dark: #0FA0CE;

  --color-secondary: #B90E0A;
  --color-secondary-light: #D21404;
  --color-secondary-dark: #990F02;

  --color-neutral-1: #F1F1F1;
  --color-neutral-2: #D1D1D1;
  --color-neutral-3: #BBB;
  --color-neutral-4: #888;
  --color-neutral-5: #555;
  --color-neutral-6: #333;

  --font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --border-radius: 4px; }


/* Base styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  font-size: 62.5%; }
body {
  background: var(--color-bg);
  font-size: 1.6em;
  line-height: 1.6;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--color-font); }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.6rem; line-height: 1.6;  letter-spacing: 0; font-weight: 400; }

/* Larger than phablet */
@media (min-width: 640px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.6rem; }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: var(--color-primary); }
a:hover {
  color: var(--color-primary-dark); }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.btn,
button:not(.hljs-copy-button),
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: var(--color-neutral-5);
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-neutral-3);
  cursor: pointer;
  box-sizing: border-box;
  transition: background 400ms, color 400ms;}
.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: var(--color-neutral-6);
  border-color: var(--color-neutral-4);
  outline: 0; }
.btn.btn--primary,
button.btn--primary,
input[type="submit"].btn--primary,
input[type="reset"].btn--primary,
input[type="button"].btn--primary {
  color: var(--color-font-light);
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light); }
.btn.btn--primary:hover,
button.btn--primary:hover,
input[type="submit"].btn--primary:hover,
input[type="reset"].btn--primary:hover,
input[type="button"].btn--primary:hover {
  color: var(--color-font-light);
  background-color: var(--color-primary);
  border-color: var(--color-primary); }
.btn.btn--warning,
button.btn--warning,
input[type="submit"].btn--warning,
input[type="reset"].btn--warning,
input[type="button"].btn--warning {
  color: var(--color-secondary-light);
  border-color: var(--color-secondary-light); }
.btn.btn--warning:hover,
button.btn--warning:hover,
input[type="submit"].btn--warning:hover,
input[type="reset"].btn--warning:hover,
input[type="button"].btn--warning:hover {
  color: var(--color-secondary-dark);
  border-color: var(--color-secondary-dark); }
.btn.btn--danger,
button.btn--danger,
input[type="submit"].btn--danger,
input[type="reset"].btn--danger,
input[type="button"].btn--danger {
  color: var(--color-font-light);
  background: var(--color-secondary-light);
  border-color: var(--color-secondary-light); }
.btn.btn--danger:hover,
button.btn--danger:hover,
input[type="submit"].btn--danger:hover,
input[type="reset"].btn--danger:hover,
input[type="button"].btn--danger:hover {
  background: var(--color-secondary);
  border-color: var(--color-secondary); }


/* Button Ripple Effect
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.btn--ripple {
  position: relative;
  overflow: hidden; }
.btn--ripple .ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  transform: scale(0);
  animation: ripple 600ms linear; }

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0; }
}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: var(--color-bg);
  border: 1px solid var(--color-neutral-2);
  border-radius: var(--border-radius);
  box-shadow: none;
  box-sizing: border-box; }
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  /* Removes awkward default styles on some inputs for iOS */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid var(--color-primary-light);
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  cursor: pointer;
  margin-left: .5rem;
  font-weight: normal; }


/* Toggles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.toggle {
  font-size: 61%;
  position: relative;
  top: 0.2em; }
.toggle input[type="checkbox"] {
  appearance: none;
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  width: 4.5em;
  height: 2em;
  padding: 0.2em;
  margin-bottom: 0;
  border: none;
  cursor: pointer;
  border-radius: 1.5em;
  overflow: hidden;
  background-color: var(--color-neutral-4);
  transition: background ease 0.3s; }
.toggle input[type="checkbox"]:before {
  content: "on off";
  display: block;
  position: absolute;
  z-index: 2;
  width: 2em;
  height: 2em;
  font-family: system-ui;
  font-size: 1em;
  line-height: 2em;
  font-weight: 500;
  text-transform: uppercase;
  text-indent: -2em;
  word-spacing: 2.55em;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  background: var(--color-font-light);
  color: var(--color-font-light);
  border-radius: 1.5em;
  transition: transform cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s; }
.toggle input[type="checkbox"]:checked {
  background-color: var(--color-primary-light); }
.toggle input[type="checkbox"]:checked:before {
  transform: translateX(2.5em); }


/* Accordion
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.accordion-tab {
  border: 1px solid var(--color-neutral-2);
  border-radius: var(--border-radius);
  margin-bottom: 0.5rem; }
.accordion-tab input {
  display: none; }
.accordion-tab label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 5px 5px 5px 10px;
  cursor: pointer; }
.accordion-tab:not(.accordion-tab--close) label::after {
  content: "\276F";
  color: var(--color-neutral-5);
  width: 1em;
  height: 1em;
  text-align: center; }
.accordion-tab:not(.accordion-tab--close) input:checked + label::after {
  transform: rotate(90deg); }
.accordion-tab.accordion-tab--close {
  border: none;
  margin-top: 12px; }
.accordion-tab.accordion-tab--close label {
  font-size: 75%;
  padding: 0 0 0 10px; }
.accordion-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 5px 0 10px;
  transition: max-height 650ms; }
.accordion-content p {
  margin-bottom: 10px; }
.accordion-content p:first-child {
  margin-top: 15px; }
.accordion-tab input:checked ~ .accordion-content {
  max-height: 500rem; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: 2px 5px;
  margin: 0 2px;
  font-size: 90%;
  white-space: nowrap;
  background: var(--color-neutral-1);
  border: 1px solid var(--color-neutral-2);
  border-radius: var(--border-radius); }
pre > code {
  display: block;
  padding: 10px 15px;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid var(--color-neutral-2); }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


.tooltip {
  cursor: help;
  border-bottom: 1px dotted var(--color-neutral-5);
  position: relative; }
.tooltip::before,
.tooltip::after {
  position: absolute;
  left: 50%;
  opacity: 0;
  z-index: -100; }
.tooltip:hover::before,
.tooltip:focus::before,
.tooltip:hover::after,
.tooltip:focus::after {
  opacity: 1;
  transform: scale(1) translateY(0);
  z-index: 100; }
.tooltip::before {
  content: "";
  border-style: solid;
  border-width: 1em 0.75em 0 0.75em;
  border-color: var(--color-neutral-6) transparent transparent transparent;
  bottom: 100%;
  margin-left: -0.5em;
  transition: all .65s cubic-bezier(.84, -0.18, 0.31, 1.26), opacity .65s .5s;
  transform: scale(.6) translateY(-90%); }
.tooltip:hover::before,
.tooltip:focus::before {
  transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s; }
.tooltip::after {
  background: var(--color-neutral-6);
  border-radius: var(--border-radius);
  bottom: 180%;
  color: var(--color-font-light);
  content: attr(data-tip);
  margin-left: -8.75em;
  padding: 1em;
  transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
  transform: scale(.6) translateY(50%);  
  font-size: .9em;
  width: 16em; }
.tooltip:hover::after,
.tooltip:focus::after  {
  transition: all .65s cubic-bezier(.84,-0.18,.31,1.26); }
.tooltip.tooltip--sm::after {
  font-size: .75em;
  margin-left: -5em;
  width: 10em; }

@media (max-width: 768px) {
  .tooltip::after {
    font-size: .75em;
    margin-left: -5em;
    width: 10em; }
}


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button:not(.hljs-copy-button),
.btn {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 30px;
  margin-bottom: 35px;
  border-width: 0;
  border-top: 1px solid var(--color-neutral-2); }


#back-to-top {
  display: inline-block;
  background-color: var(--color-primary-light);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: var(--border-radius);
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 300ms, opacity 500ms, visibility 500ms;
  opacity: 0;
  visibility: hidden;
  z-index: 1000; }
#back-to-top::after {
  content: "\276F";
  font-weight: normal;
  font-style: normal;
  font-size: 32px;
  line-height: 50px;
  color: var(--color-bg);
  display: inline-block;
  transform: rotate(270deg);
}
#back-to-top:hover,
#back-to-top:active {
  cursor: pointer;
  background-color: var(--color-primary); }
#back-to-top.back-to-top--show {
  opacity: 1;
  visibility: visible; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full {
  width: 100%;
  box-sizing: border-box; }
.u-max {
  max-width: 100%;
  box-sizing: border-box; }
.u-mt0 { margin-top: 0; }
.u-mb0 { margin-bottom: 0; }
.u-ml0 { margin-left: 0; }
.u-mr0 { margin-right: 0; }
.u-pt0 { padding-top: 0; }
.u-pb0 { padding-bottom: 0; }
.u-pl0 { padding-left: 0; }
.u-pr0 { padding-right: 0; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than phablet (sm) */
@media (min-width: 640px) {
  .sm-hide {
    display: none !important; }
}
@media (max-width: 639px) {
  .sm-show {
    display: none !important; }
}

/* Larger than tablet (md) */
@media (min-width: 768px) {
  .md-hide {
    display: none !important; }
}
@media (max-width: 767px) {
  .md-show {
    display: none !important;}
}

/* Larger than desktop (lg) */
@media (min-width: 1024px) {
  .lg-hide {
    display: none !important; }
}
@media (max-width: 1023px) {
  .lg-show {
    display: none !important;}
}

/* Larger than Desktop HD (xl) */
@media (min-width: 1280px) {
  .xl-hide {
    display: none !important; }
}
@media (max-width: 1279px) {
  .xl-show {
    display: none !important;}
}

/* Extra large (2xl) */
@media (min-width: 1536px) {
  .xxl-hide {
    display: none !important; }
}
@media (max-width: 1535px) {
  .xxl-show {
    display: none !important;}
}
